---
http_interactions:
- request:
    method: post
    uri: https://partner-api.1c.ru/api/rest/public/option/billing-report
    body:
      encoding: UTF-8
      string: '{"type":"CLOUD_BACKUP","subscriber_code_list":["CL-12382","CL-898382","CL-932992"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - application:live:8840
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"reportUeid":"a52c716c-914b-4b91-9647-ab1c4a08ff56"}'
  recorded_at: Thu, 27 Jul 2023 17:28:38 GMT
recorded_with: VCR 6.2.0
