---
http_interactions:
- request:
    method: post
    uri: https://partner-api.1c.ru/api/edo/reports/client-traffic
    body:
      encoding: UTF-8
      string: '{"inn":"1234","login":"login","subscriberCode":"code","periodFrom":"2025-02-11T04:19:59+00:00","periodTo":"2025-02-11T04:19:59+00:00"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - application:live:8840
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"taskUeid":"6d02947e-e4a9-42d8-a3e2-3d0defaf5fc0","error":null}'
  recorded_at: Tue, 11 Feb 2025 04:42:01 GMT
- request:
    method: get
    uri: https://partner-api.1c.ru/api/edo/reports/client-traffic/6d02947e-e4a9-42d8-a3e2-3d0defaf5fc0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - application:live:8840
      Content-Disposition:
      - attachment; filename="client_traffic_report_11.02.2025.csv"
      Content-Type:
      - application/csv;charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 11 Feb 2025 04:42:04 GMT
recorded_with: VCR 6.2.0
