---
http_interactions:
- request:
    method: post
    uri: https://partner-api.1c.ru/api/rest/public/option/billing-report
    body:
      encoding: UTF-8
      string: '{"type":"CLOUD_BACKUP","subscriber_code_list":["CL-12382","CL-898382","CL-932992"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - application:live:8840
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"reportUeid":"84795193-13e7-4e02-bb4f-40e18d09f402"}'
  recorded_at: Thu, 27 Jul 2023 17:28:35 GMT
- request:
    method: get
    uri: https://partner-api.1c.ru/api/rest/public/option/billing-report/84795193-13e7-4e02-bb4f-40e18d09f402
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - application:live:8840
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"reportUeid":"84795193-13e7-4e02-bb4f-40e18d09f402","state":"OK","completedDate":null,"report":{"entries":null}}'
  recorded_at: Thu, 27 Jul 2023 17:28:36 GMT
recorded_with: VCR 6.2.0
