---
http_interactions:
- request:
    method: post
    uri: https://partner-api.1c.ru/api/program-versions
    body:
      encoding: UTF-8
      string: '{"cursor":0,"nick":"CRM"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - application:live:8840
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"cursor":0,"programVersions":[{"name":"3.1.26.8","buildDate":"2023-04-25T21:00:00Z","status":"FINAL","platformMinVersion":"8.3.17.2760","platformMaxVersion":null,"platformRecommendedVersion":"8.3.22.1704","platformVersions":[{"platformMinVersion":"8.3.21.1624","platformRecommendedVersion":"8.3.22.1704","platformMaxVersion":null},{"platformMinVersion":"8.3.18.1959","platformRecommendedVersion":"8.3.22.1704","platformMaxVersion":null},{"platformMinVersion":"8.3.17.2760","platformRecommendedVersion":"8.3.22.1704","platformMaxVersion":null},{"platformMinVersion":"8.3.20.2184","platformRecommendedVersion":"8.3.22.1704","platformMaxVersion":null},{"platformMinVersion":"8.3.19.1726","platformRecommendedVersion":"8.3.22.1704","platformMaxVersion":null},{"platformMinVersion":"8.3.22.1709","platformRecommendedVersion":"8.3.22.1709","platformMaxVersion":null}],"previousVersions":["3.1.25.10","3.1.25.9"]}]}'
  recorded_at: Thu, 27 Jul 2023 17:44:14 GMT
recorded_with: VCR 6.2.0
