---
http_interactions:
- request:
    method: post
    uri: https://partner-api.1c.ru/api/trial-tariffs
    body:
      encoding: UTF-8
      string: '{"applicationNick":"1C-Reporting","subscriberCodeList":["CL-12345","CL-67890"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - application:live:8840
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"subscriberCode":"CL-12345","trialTariffs":[],"status":null,"description":null},{"subscriberCode":"CL-67890","trialTariffs":[],"status":null,"description":null}]'
  recorded_at: Wed, 18 Sep 2024 06:47:19 GMT
recorded_with: VCR 6.2.0
