---
http_interactions:
- request:
    method: post
    uri: https://partner-api.1c.ru/api/users
    body:
      encoding: UTF-8
      string: '{"login":"test","email":"test@email.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Application-Context:
      - application:live:8840
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"found":false}'
  recorded_at: Fri, 24 Nov 2023 12:13:18 GMT
recorded_with: VCR 6.2.0
